body {
    font-family: 'Segoe UI', sans-serif;
    background: 
    linear-gradient(rgba(168, 167, 167, 0.8), rgba(161, 160, 160, 0.8)),
    url('Getty Center, LA_.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 50px;
    transition: 0.3s;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input, select {
    padding: 12px;
    width: 220px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-right: 10px;
    margin-bottom: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button {
    padding: 12px 18px;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px; 
}

button:hover {
    background: #43a047;
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: rgb(251, 252, 252);
    margin: 10px auto;
    padding: 12px 15px;
    width: 260px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    animation: fadeIn 0.3s ease;
    transition: 0.3s;
}

li:hover {
    transform: translateY(-3px) scale(1.03);
}

li button {
    background: red;
    padding: 5px 8px;
    border-radius: 5px;
}

li button:hover {
    background: darkred;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dark {
    background: url(pexels-pnw-prod-8250951.jpg);
    background-size: cover;
    background-position: center;
}

.dark h1 {
    color: #fff;
}

.dark input,
.dark select {
    background: #1e1e1e;
    color: white;
}


.dark li {
    background: #1e1e1e;
    color: white;
}

.dark button {
    background: #0b0b0b;
}

.dark button:hover {
    background: #555;
}
.dark p {
    color: #eee;
}